<div *ngIf="request">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Request Type: {{request.reqType | uppercase}}</h2>
    <label for="reqTypes">Request Type</label><br>
    <select formControlName="reqTypes" id="reqTypes" (change)="selectChangeHandler($event)">
      <option *ngFor="let reqType of reqTypes; let i = index" [value]="reqTypes[i].name">
        {{reqTypes[i].name}}
      </option>
    </select>

    <br><br>
    <button>submit</button>
  </form>


  
  <!-- <div><span>Id: </span>{{request.id}}</div>
  <div>
    <label>Request:
      <input [(ngModel)]="request.request" placeholder="request"/>
    </label>
  </div>
  <div>
    <ng-select 
        [items]="requestTypes"
        placeholder="Select Request Type">
    </ng-select>
  </div>
   <div>
    <label>email:
      <input [(ngModel)]="user.emailAddress" placeholder="email address"/>
    </label>
  </div> -->
</div>
<button (click)="goBack()">go back</button>&nbsp;

